:root {
  --figmaAccent: #1DA4FC;
  --figmaSecondAccent: #F5F5F5;
  --figmaColor: black;
  --figmaBackground: white;
  --figmaBorderColor: #e5e5e5;
  --successColor: #d4fdd9;
  --borderRadius: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --figmaAccent: #0C8CE9;
    --figmaSecondAccent: #383838;
    --figmaColor: #EEEEEE;
    --figmaBackground: #2C2C2C;
    --figmaBorderColor: #444444;
    --successColor: #2d5e33;
    --borderRadius: 8px;
  }
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--figmaBackground);
  color: var(--figmaColor);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.inner {
  flex: 1;
  padding: 15px 15px 0;
}

.options {
  font-size: 13px;
  margin: 8px 0 0;
  padding: 4px;
  border: 1px solid var(--figmaBorderColor);
  border-radius: var(--borderRadius);
}

.options label {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

input[type=checkbox] {
  accent-color: black;
}

footer {
  display: flex;
  flex: 0 0 auto;
  padding: 15px;
}

button {
  display: flex;
  justify-content: center;
  font-size: 12px;
  background: var(--figmaSecondAccent);
  color: var(--figmaColor);
  border: 1px solid var(--figmaBorderColor);
  padding: 8px 12px;
  border-radius: var(--borderRadius);
  font-weight: 500;
  outline: none;
}

button.primary {
  background: var(--figmaAccent);
  border-color: var(--figmaAccent);
  color: white;
  flex: 1;
  margin-right: 10px;
}

button:disabled {
  background: var(--figmaSecondAccent);
  border-color: var(--figmaSecondAccent);
  color: color-mix(in srgb, var(--figmaColor), transparent 60%);
  cursor: not-allowed;
}

.inner__info {
  text-align: center;
}

.inner__info h4 {
  text-align: center;
  margin-bottom: 10px;
}

.logo {
  display: block;
  max-width: 100px;
  margin: 0 auto 20px;
}

pre:not(:empty) {
  border: 1px solid var(--figmaBorderColor);
  padding: 10px;
  margin: 10px 0 0;
  font-size: 12px;
  max-height: 200px;
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
  white-space: pre-wrap;
  overflow: auto;
}

#code-container {
  position: relative;
}

#code-container:not(.hidden) + #copy-button {
  display: block;
}

#copy-button {
  position: relative;
  display: none;
  width: 100%;
  margin-top: -1px;
  border-radius: 0 0 var(--borderRadius) var(--borderRadius);
}

#error:not(:empty):not(.hidden) {
  background: #ffd5d5;
  color: #8a4040;
  font-size: 13px;
  display: table;
  margin: 10px auto 0;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
}

.highlighted {
  background: #ffeac3;
  cursor: help;
}

#frames {
  display: table;
  text-align: center;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px auto 0;
  font-size: 13px;
}

.success {
  background: var(--successColor);
  color: var(--figmaColor);
}

.loader,
.loader:after {
  display: inline-block;
  border-radius: 50%;
  width: .9em;
  height: .9em;
}

.loader {
  margin-left: 10px;
  position: relative;
  border-top: 2px solid rgba(255, 255, 255, 0.4);
  border-right: 2px solid rgba(255, 255, 255, 0.4);
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  border-left: 2px solid white;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
